.error-input{
    color: red;
    font-size: 13px;
    font-style: italic;
}

.form {
    background-color: #b4b9c640;
    border: solid 1px black;
}

.form2 {
    background-color: #eceef9;
}

.nav {
    background: #dbdbdb;
    /*margin-right: 419px;*/
    width: 75%;
    margin-top: 8px;
    margin-bottom: 8px;
}

.list-group-horizontal li {
    border: none;
}

.hidden{
    display: none;
}

.show{
    display:inline;
}

.table:hover{
    cursor: pointer;    
}

.nav-item:hover{
    background-color: none;
} 
.nav-link:hover{
    background-color: #0d6efd;
    color: white;
}